<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Jiani Yang Piano</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <div class="graphics">
            <div class="tower">
                <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="-11 170 1000 429" enable-background="new -11 170 1000 429" xml:space="preserve">
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d= "M989,595 c-36,28.5 -26,-21.5 -62,7 c-42,15 -32,-35 -74,-20 c-6,1 4,-49 -2,-48 c-63.5,20 -53.5,-30 -117,-10 c-41,48.5 -31,-1.5 -72,47 c-10,54.5
                                                                                                                0,4.5 -10,59 c23.5,33.5 33.5,-16.5 57,17 c26,18 36,-32 62,-14 c-1.5,6.5 8.5,-43.5 7,-37 c6,18 16,-32 22,-14 c8.5,42 18.5,-8 27,34 c7.5,44.5
                                                                                                                17.5,-5.5 25,39 c9.5,24 19.5,-26 29,-2 c13,20.5 23,-29.5 36,-9 c20.5,24.5 30.5,-25.5 51,-1 c26,17 36,-33 43,30 c-1.5,-12.5 8.5,-62.5 -20,-77"/>
                </svg>

            </div>
        </div>

        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="#">Home</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="#">Composition</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="message">
            <div class="text">
                <h1>Jiani Yang Piano</h1>
                <h2>putting the passion back into classical piano</h2>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-contents">Jiani Yang 2023 	&trade;</p>
    </footer>

    <script src="{% static "helloworld/js/set-background.js" %}"></script>
</body>

</html>
