<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Jiani Yang Piano</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <div class="graphics">
            <div class="tower">
                <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="-11 170 1000 429" enable-background="new -11 170 1000 429" xml:space="preserve">
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M1000,600 L1000,450 L950,450 L950,600 L1000,600 L900,600 L900,450 L950,450 L850,450 L850,600 L900,600 L800,600 L800,450 L850,450 L750,450 L750,600 L800,600 L700,600 L700,450 L750,450 L650,450 L650,600 L700,600 L600,600 L600,450 L650,450 L550,450 L550,600 L600,600 L500,600 L500,450"></path>
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M-50,600 L-50,450 L50,450 L0,450 L0,600 L-50,600 L100,600 L50,600 L50,450 L150,450 L100,450 L100,600 L200,600 L150,600 L150,450 L250,450 L200,450 L200,600 L300,600 L250,600 L250,450 L350,450 L300,450 L300,600 L400,600 L350,600 L350,450 L450,450 L400,450 L400,600 L500,600 L450,600 L450,450 L550,450"></path>
                </svg>

            </div>
        </div>

        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="#">Home</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="#">Composition</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="message">
            <div class="text">
                <h1>Jiani Yang Piano</h1>
                <h2>putting the passion back into classical piano</h2>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-contents">Jiani Yang 2023 	&trade;</p>
    </footer>

    <script src="{% static "helloworld/js/set-background.js" %}"></script>
</body>

</html>
