<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Jiani Yang Piano</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <div class="graphics">
            <div class="tower">
                <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-11 170 1000 429" enable-background="new -11 170 1000 429" xml:space="preserve">
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M1000,600 L-50,600"></path>
                    <path class="path" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M-50,450 L1000,450"></path>
                    <path class="path-delay1" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M-50,600 L-50,450 M0,600 L0,450 M50,600 L50,450 M100,600 L100,450 M150,600 L150,450 M200,600 L200,450 M250,600 L250,450 M300,600 L300,450 M350,600 L350,450 M400,600 L400,450 M450,600 L450,450 M500,600 L500,450 M550,600 L550,450"></path>
                    <path class="path-delay1" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M1000,450 L1000,600 M950,450 L950,600 M900,450 L900,600 M850,450 L850,600 M800,450 L800,600 M750,450 L750,600 M700,450 L700,600 M650,450 L650,600 M600,450 L600,600 M550,450 L550,600"></path>
                    <path class="path-delay2" fill="none" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M0 ,451 L0,540 M100 ,451 L100,540 M150 ,451 L150,540 M250 ,451 L250,540 M300 ,451 L300,540 M350 ,451 L350,540 M450 ,451 L450,540 M500 ,451 L500,540 M600 ,451 L600,540 M650 ,451 L650,540 M700 ,451 L700,540 M800 ,451 L800,540 M850 ,451 L850,540 M950 ,451 L950,540"></path>
                </svg>
            </div>
        </div>
        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="#">Home</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="#">Composition</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="message">
            <div class="text">
                <h1>Jiani Yang Piano</h1>
                <h2>putting the passion back into classical piano</h2>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-contents">Jiani Yang 2023 	&trade;</p>
    </footer>

    <script src="{% static "helloworld/js/set-background.js" %}"></script>
</body>

</html>
