<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Jiani Yang Piano</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="#">Home</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="#">Composition</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="page-title">
            <div class="text">
                <h1>Jiani Yang Piano</h1>
                <h2>putting the passion back into classical piano</h2>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-contents">Jiani Yang 2023 	&trade;</p>
    </footer>

    <script src="{% static "helloworld/js/set-background.js" %}"></script>
</body>

</html>